# --- Compilateurs et Artéfacts ---
*.class
*.log
*.war
*.ear
*.jar
*.tar.gz
*.zip

# --- Dossiers de Build ---
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.next
release.properties

# --- Rapport
rapport_statistiques.pdf
rapport_statistiques.md
adresses.json